[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
httpretty = "*"
sure = "*"
pytest-cov = "*"
pytest-tldr = "*"

[packages]
requests = "*"
setuptools = "*"
wheel = "*"
twine = "*"
cryptography = "*"
pytest_testrail = "*"
jsonschema = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pipenv run pytest --disable-pytest-warnings -s -vv --ignore=tests/integration -vv --cov=incountry --cov-report xml:coverage.xml --cov-report term"
integrations = "pytest --ignore=tests/unit --rootdir=tests/integration --cov=incountry --cov-report term-missing -v"

[pipenv]
allow_prereleases = true
