[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
httpretty = "*"
sure = "*"

[packages]
requests = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pycryptodome = "*"
jsonschema = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest --ignore=tests/integrations"
integrations = "pytest --rootdir=tests/integrations"

[pipenv]
allow_prereleases = true
