[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
httpretty = "*"
sure = "*"
pytest-cov = "*"
pytest-tldr = "*"

[packages]
requests = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest --ignore=tests/integration --cov=incountry --cov-report term-missing -v"
integrations = "pytest --ignore=tests/unit --rootdir=tests/integration --cov=incountry --cov-report term-missing -v"

[pipenv]
allow_prereleases = true
